body {
  background-color: rgb(255, 255, 255);
}
.calendar,
.clock {
  margin: 20px;
}

.timer {
  display: flex;
}

.field {
  display: grid;
  margin: 15px;
  justify-items: center;
}

.value {
  font-size: 70px;
}

.label {
  font-size: 30px;
}

button {
  margin: 4px;
}
